<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <br>
      <div class="card">
        <div class="card-body">
          <h2 class="mb-1 text-center display-6">Employee Management System</h2>
        </div>
      </div>
      <br>
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary" (click)="addNewEmployee()">
              <i class="bi bi-plus-lg me-1"></i> New Employee
            </button>
          </div>
          
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>
                  <button *ngIf="employee.id" class="btn btn-sm btn-info me-1" title="Edit" (click)="editEmployee(employee.id)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button *ngIf="employee.id" class="btn btn-sm btn-danger me-1" title="Delete" (click)="deleteEmployee(employee.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                  <button *ngIf="employee.id" class="btn btn-sm btn-success" title="Show" (click)="showEmployee(employee.id)">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    
    </div>
  </div>
</div>
